<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>
<%- include ('../partials/message') %>

<div class="container text-center">
    <h1><%=business[0].name%></h1>
    <br>
    <br>
    <div class="row user-info-box">
      <div class="col-md-4">
        <div class="text-justify">
          <%if(business[0].hours != null){%>
            <h4>Hours</h4>
            <%if(business[0].hours[0].slice(0,3) == 'Sun'){%>
              <%for (let i = 0; i < business[0].hours.length; i++){%>
                <p><%=business[0].hours[i]%></p>
              <%}%>
            <%} else if(business[0].hours[0].slice(0,3) == 'Sat'){%>
              <%for (let i = 1; i < business[0].hours.length; i++){%>
                <p><%=business[0].hours[i]%></p>
              <%}%>
                <p><%=business[0].hours[0]%></p>
            <%} else if(business[0].hours[0].slice(0,3) == 'Fri'){%>
              <%for (let i = 2; i < business[0].hours.length; i++){%>
                <p><%=business[0].hours[i]%></p>
              <%}%>
                <p><%=business[0].hours[0]%></p>
                <p><%=business[0].hours[1]%></p>
            <%}%>
          <%}%>
        </div>
      </div>
      <div class="col-md-4">
            <div class="text-justify">
              <%if(business[0].website != null){%>
                <h4>Website</h4>
                <p><%=business[0].website%></p>
              <%}%>
            </div>
            <div class="text-justify">
              <%if(business[0].address != null){%>
                <h4>Address</h4>
                <p><%=business[0].address%></p>
              <%}%>
            </div>
            <div class="text-justify">
              <%if(business[0].phone_number != null){%>
                <h4>Phone Number</h4>
                <p><%=business[0].phone_number.slice(0,3)%>-<%=business[0].phone_number.slice(3,6)%>-<%=business[0].phone_number.slice(6,10)%></p>
              <%}%>
            </div>
            
        </div>
        
        <div class="col-md-4">
        <%if(business[0].photo_url != null){%>
          <img src="<%=business[0].photo_url%>" alt="Logo Failed" width="300" height="200">
        <%} else if(business[0].type == 'Plumber'){%>
          <img src="https://www.constantcontact.com/blog/wp-content/uploads/2022/01/Social-Start-a-Plumbing-Business.jpg" alt="Logo Failed" width="450" height="300">
        <%} else if(business[0].type == 'Landscaper'){%>
          <img src="https://www.youraspire.com/hubfs/big-garden-grass-field-mowing-by-caucasian-gardener.jpg_s=1024x1024&w=is&k=20&c=ln0D2ZTNy8nc-t5zeXecdXi_VlojH5HC3PrNmG9fqX8=.jpg" alt="Logo Failed" width="450" height="300">
        <%} else if(business[0].type == 'Roofing'){%>
          <img src="https://peakbusinessvaluation.com/wp-content/uploads/Valuing-a-Roofing-Company.png" alt="Logo Failed" width="450" height="300">
        <%} else if(business[0].type == 'Electrician'){%>
          <img src="https://www.levelset.com/wp-content/uploads/2022/07/Grow-my-Electrician-Business.jpg" alt="Logo Failed" width="450" height="300">
        <%} else if(business[0].type == 'Painter'){%>
          <img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.freshbooks.com%2Fhub%2Fstartup%2Fhow-to-start-a-successful-painting-business&psig=AOvVaw3QA9u22ZI5wC6k5vzhL_P8&ust=1701755017487000&source=images&cd=vfe&opi=89978449&ved=0CBIQjRxqFwoTCNCT4syJ9YIDFQAAAAAdAAAAABAI" alt="Logo Failed" width="450" height="300">  
        <%}%>
        </div>
    </div>
</div>

<div class="container">
    <div class="row mb-4">
        <h4>Services</h4>
    </div>
    <% for (var i = 0; i < service.length; i++) {%>
    <div class="row">
      <form action="/pages/service" method="GET">
        <div class="row card mb-3" style="max-width: 100%;">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="<%=service[i].logo_url%>" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <a href="/service/<%=service[i].service_id%>/<%=business[0].business_id%>">
                  <h5 class="card-title"><%=service[i].name%></h5>
                  </a>
                  <p class="card-text"><%=service[i].description%></p>
                </div>
              </div>
            </div>
        </div>
      </form>
    </div>
    <%}%>
</div>
<div class="container mt-4 text-center">
  <a href="/submit-review?businessId=<%=business[0].business_id %>" class="btn btn-primary">Add Review</a>
</div>
<div class="container mt-4">
  <h3>User Reviews</h3>
  <% if (reviews && reviews.length > 0) { %>
      <% reviews.forEach(function(review) { %>
          <div class="card mb-2">
              <div class="card-body">
                  <h5 class="card-title">Rating: <%= review.rating %> Stars</h5>
                  <p class="card-text"><%= review.review_text %></p>
              </div>
          </div>
      <% }); %>
  <% } else { %>
      <p>No reviews available.</p>
  <% } %>
</div>
<br>
<br>
<%- include ('../partials/footer') %>