<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>

<main>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3">
	<label for="businessType">Business Type:</label>
	<select id="businessType" class="form-select" onchange="updateBusinessType()">
	  <option value="all" selected>All Business Types</option>
	  <option value="Plumber">Plumber</option>
	  <option value="Landscaper">Landscaper</option>
	  <option value="Roofing">Roofing</option>
	  <option value="Electrician">Electrician</option>
	  <option value="Painter">Painter</option>
	</select>


        <h4>Sort by</h4>
        <select id="sortSelect" class="form-select">
          <option value="ratingDesc">Rating: High to Low</option>
          <option value="ratingAsc">Rating: Low to High</option>
        </select>
      </div>

  <div class="col-md-9">
    <div class="row row-cols0 row-cols-md-2 g-4">
      <% businesses.forEach(function(business) { %>
	<div class="col">
	  <div class="card h-99" data-id="<%- business.business_id %>" onclick="">
	    <!-- Display first photo, ensure your API returns an array even if it's one photo -->
	    <%  if(business.photo_url) { %>
	      <img src="<%- business.photo_url[0] %>" class="card-img-top" alt="<%- business.name %>">
	    <%  } %>
	    <div class="card-body">
	      <h6 class="card-title"><%- business.name %></h5>
	      <p class="card-text">Type: <%- business.type %> | Phone: <%- business.phone_number %></p>
	    </div>
	    <div class="card-footer">
	      <small class="text-muted"><%- business.address %></small>
	    </div>
	  </div>
	</div>
      <% }); %>
    </div>
  </div>

    </div>
  </div>
	<div class="pagination">
	  <% for (let i = 1; i <= totalPages; i++) { %>
	    <a href="/discover?page=<%= i %>" class="<%= i === currentPage ? 'active' : '' %>"><%= i %></a>
	  <% } %>
	</div>
</main>



<%- include ('../partials/footer') %>
<script src="/js/script.js"></script
