<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>
<%- include ('../partials/message') %>


<main>
  <div class="container">
    <h1>Register</h1>
    <div class="register-box">
      <% if (locals.error) { %>
        <p class="message"><%= error %></p>
      <% } %>
      <form action="/register" method="post">
        <div class="form-group">
          <label for="username">Username</label>
          <input type="text" id="username" name="username" placeholder="Username" required>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="text" id="password" name="password" placeholder="Password" required>
        </div>
        <div class="form-group">
          <label for="password">First Name</label>
          <input type="text" id="first_name" name="first_name" placeholder="First name" required>
        </div>
        <div class="form-group">
          <label for="password">Last Name</label>
          <input type="text" id="last_name" name="last_name" placeholder="Last name" required>
        </div>
        <div class="form-group">
          <label for="password">Email</label>
          <input type="text" id="email" name="email" placeholder="Email" required>
        </div>
        <div class="form-group">
          <button type="submit">Register</button>
        </div>
        <div class="login-link">
          Already have an account? <a href="/login">Login</a>
        </div>
      </form>
    </div>
  </div>
</main>

<%- include ('../partials/footer') %>
