<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>
<%- include ('../partials/message') %>

<div class="container text-center">
    <h1><%=service.name%></h1>
    <br>
    <br>
    <div class="row">
        <div class="col-md-4">
            <div class="text-left">
                <h4>Description</h4>
                <p><%=service.description%></p>
            </div>
            <div class="text-justify">
                <h4>Cost</h4>
                <p>$<%=service.cost%> per hour</p>
                <p style="font-size: 12px;">This number is a base cost and could be higher depending on request.</p>
            </div>
            <div class="text-justify">
                <button class="show-booking" >
                    Book Now</button>
            </div>
        </div>
        <div class="col-md-8">
        <img src="<%=service.logo_url%>" alt="Service Logo" width="100%">
        </div>
    </div>
</div>


<section>
    <div class="modal-box"> 
        <form action="/place-order" method="POST"> 
            <h2 class="text-center">Book <%=service.name%></h2>
            <div>
                <input class="hide" name="b_id" id="b_id" value="<%=business_id%>">
            </div>
            <div>
                <input class="hide" name="s_id" id="s_id" value="<%=service.service_id%>">
            </div>
            <div class="mb-3" id="details-div">
                <label for="details" class="form-label" style="vertical-align: top;"><b>Order Notes</b></label>
                <textarea class="form-control" name="details" id="details" rows="3"
                placeholder="Please add some details about your request"></textarea>
            </div>
            <br>
            <br>
            <button class="book">Book</button>
        </form>  
        <button class="close-booking" >Close</button>
        
    </div>
</section>
<script>
    const section = document.querySelector("section"),
        overlay = document.querySelector(".overlay"),
        showBtn = document.querySelector(".show-booking"),
        closeBtn = document.querySelector(".close-booking"),
        bookBtn = document.querySelector(".book");
    

    showBtn.addEventListener("click", () => section.classList.add("active"));
    closeBtn.addEventListener("click", () => section.classList.remove("active"));
    bookBtn.addEventListener("click", () => section.classList.remove("active"));
    
</script>


<%- include ('../partials/footer') %>